# testing
/coverage
/test-app
vitest.config.ts

# config
.audit-ci.json
.env.sample
.eslintignore
.eslintrc.js
.releaserc.yaml
codecov.yml
jest.config.js
prettier.config.js
.prettierrc
tsconfig.json
biome.jsonc
pnpm-workspace.yaml
pnpm-lock.yaml
/.github
/.vscode

# source
/src

# examples
/examples

# docs
/docs

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Webstorm
.idea

# Typescript
tsconfig.tsbuildinfo
